# Copy this file and rename it to ".env.testing"

# bot environment
TEST_DISCORD_TOKEN=

# database
TEST_DBHOST=127.0.0.1
TEST_DBUSER=gbf_bot_test
TEST_DBPASSWORD=gbf_bot_test
TEST_DBDATABASE=gbf_bot_test

# Google Spread Sheet
TEST_GSPREAD_BOOK_LOAD_URL=
TEST_GSPREAD_BOOK_PUSH_URL=
TEST_GSPREAD_TABLE_NAME_SHEET_NAME=テーブル名
